// Specific CSS for your home-page
.home-banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  url('https://images.unsplash.com/photo-1513106580091-1d82408b8cd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80');
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding-top: 40vh;
  margin-bottom: 75px;

    h1{
      font-size: 4rem;
      color: white;
      letter-spacing: 3px;
      text-shadow: 1px 1px 15px black
    }
}

.container {
  .h2 {
    color: $cblack;
    font-size: 2rem;
  }
}
